{{- $name						:= promptStringOnce . "user.git.name" "Name used in GitHub" -}}
{{- $email					:= promptStringOnce . "user.git.email" "Email used in GitHub" -}}
{{- $signingkey			:= promptStringOnce . "user.git.signingkey" "GPG key to sign commits" -}}

{{- $installDevenv		:= promptBoolOnce		. "install.devenv" "Install development enviroment" -}}
{{- $installHypr		:= promptBoolOnce		. "install.hypr" "Install hyprland basic packages" -}}
{{- $installFonts		:= promptBoolOnce		. "install.fonts" "Install fonts" -}}
{{- $installApps		:= promptBoolOnce		.	"install.apps" "Install other applications" -}}

[data.user.git]
name = {{ $name | quote}}
email = {{ $email | quote}}
signingkey = {{ $signingkey | quote}}

[data.install]
installDevenv = {{ $installDevenv | quote }}
installHypr = {{ $installHypr | quote }}
installFonts = {{ $installFonts | quote }}
installApps = {{ $installApps | quote }}
