#!/bin/sh


{{ if eq "true" .install.installNushell }}
	yay -S {{  .packages.yay.nushell | join " " }} --noconfirm
	sudo chsh -s /usr/bin/nu $(whoami)
{{end}}

{{ if eq "true" .install.installNvim }}
	yay -S {{  .packages.yay.nvim | join " " }} --noconfirm
	sudo npm i -g {{ .packages.npm.nvim | join " "}}
{{end}}

{{ if eq "true" .install.installHypr }}
	yay -S {{  .packages.yay.hypr | join " " }} --noconfirm
{{end}}

{{ if eq "true" .install.installFonts }}
	yay -S {{  .packages.yay.fonts | join " " }} --noconfirm
{{end}}

{{ if eq "true" .install.installThemes }}
	yay -S {{  .packages.yay.themes | join " " }} --noconfirm
{{end}}

{{ if eq "true" .install.installApps }}
	yay -S {{  .packages.yay.apps | join " " }} --noconfirm
{{end}}
