configuration {
modes: "window,drun,run";
show-icons: true;
terminal: "alacritty";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}
